<footer class="footer">
  <ul>
    <li><i class="far fa-copyright"></i> Tirth Patel</li>
    <li><a href="https://www.linkedin.com/in//Tirth Patel"><i class="fab fa-linkedin fa-lg"></i></a></li>
    <li><a href="https://www.instagram.com/tirth_the_brand /"><i class="fab fa-instagram fa-lg"></i></a></li>
    <li><a href="https://github.com/pappu6 "><i class="fab fa-github fa-lg"></i></a></li>
  </ul>
</footer>
</body>

</html>

